
/* === typography ====== */ 

h1, h2, h3, h4, h5, h6, p, li, td, th, blockquote, label, input, textarea, select, span {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p, li, td, th, blockquote, label, input, textarea, select {
  font-size: 1.2rem;
  line-height: 165%;
}

p {
  margin-bottom: 1rem;
}

body {
  height: 100vh;
  background-color: #111;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pt-3, .px-4 {
  margin: 0 !important;
  padding: 0 !important;
}


/* Featured Section */

.featured-novels-container {
  height: 45rem;
}

.featured-novels-image {
  width: auto;
  margin: 0 auto;
  text-align: center;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.featured-novels-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-novels-card {
  width: 25rem;
}

.featured-novel-author {
  color: black;
}


#featured-books-carousel .carousel-control-next-icon,
#featured-books-carousel .carousel-control-prev-icon {
    background-color: black;
}

#featured-books-carousel .carousel-control-next,
#featured-books-carousel .carousel-control-prev {
    position: absolute;
    bottom: -35rem;
    width: auto;
}

#featured-books-carousel .carousel-control-prev {
    left: 20rem;
}

#featured-books-carousel .carousel-control-next {
    right: 20rem;
}

/* Categories pages */
.category-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
  border: 1px solid #ccc;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  position: relative;
}

.category-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.category-box:hover {
  transform: scale(1.05);
}

.category-box-mystery:before {
  background-image: url('../components/assets/images/Mystery.jpg');
}

.category-box-drama:before {
  background-image: url('../components/assets/images/Drama.jpg');
}

.category-box-comedy:before {
  background-image: url('../components/assets/images/Comedy.jpg');
}

.category-box-romance:before {
  background-image: url('../components/assets/images/Romance.jpg');
}

.category-box-title {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Categories */

.book-container-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: row; */
}

.books-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.book-card-categories {
  text-decoration: none;
  color: inherit;
}

.card-categories {
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  width: 200px;
  height: auto;
  min-height: 350px; 
  max-height: 350px; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
  border: 2px solid white;
  transition: all 0.3s ease-out;
}

.card-categories:hover {
  box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.1);
}

.book-cover-categories {
  min-height: 10rem;
  max-height: 10rem;
  min-width: 7rem;
  max-width: 11rem;
  margin-bottom: 15px;
}

.book-title-categories {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
}

.book-author-categories {
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%; 
  max-width: 90%; 
  color: white;
}





/* Footer Section */
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: blue;
  color: white;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer-column a {
  color: white;
  text-decoration: none;
}

.credit-card-columns {
  display: flex;
  flex-direction: column;
}