
/* === typography ====== */ 

h1, h2, h3, h4, h5, h6, p, li, td, th, blockquote, label, input, textarea, select, span {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p, li, td, th, blockquote, label, input, textarea, select {
  font-size: 1.2rem;
  line-height: 165%;
}

p {
  margin-bottom: 1rem;
}

button:hover {
  transform: scale(1.1);
}

body {
  height: 100vh;
  background-color: var(--white-ash);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

element.style {
  padding-top: 0rem !important;
}

:root {
  --white-ash: #F1EDE2;
  --light-teak: #D1AA7C;
  --gingerbread: #A8734F;
  --dark-wood: #6F4E3C;
  --grey-wood: #7F7F7F;
}

.pt-3, .px-4 {
  margin: 0 !important;
  padding: 0 !important;
}


/* Header */
.navbar * {
  color: var(--white-ash);
}

.nav-link {
  position: relative;
}

.nav-link:hover {
  color: black;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%; /* Start from the left */
  height: 2px;
  background: black; /* Color of the underline */
  transition: right 0.3s ease-in; /* Animate right property (left to right) */
}

.nav-link:hover::after {
  right: 0; /* Go full width on hover */
  color: red;
}





/* Log in */
.full-page-background {
  /* position fixed makes the div cover the entire page */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
}

.full-page-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  /* Add your image */
  background: url('../components/assets/images/NileHero.jpg') no-repeat left; 

  /* Cover the entire div */
  background-size: cover;

  /* Mirror the image */
  transform: scaleX(-1);
}

.login-form-container, .signup-form {
  width: 100%;
  padding-left: 10rem;
  margin-top: 4rem;
  height: 100rem;
  /* opacity: 1; */
}

.welcome-to-nile, .signup-page-title {
  color: black;
  font-size: 2.5rem;
  margin: 0 auto;
  border-bottom: 2px solid var(--white-ash);
}

.signup-page-title {
  border-bottom: 2px solid black;

}

.login-h3 {
  color: var(--light-teak)
}

.label-title  {
  color: var(--light-teak);
}

.signup-label-title {
  color: black;
  font-weight: bold;
}

.form-background, .signup-form-background {
  /* opacity: .5; */
  z-index: 10;
  width: 35rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 30rem;
  margin-top: 5rem;
  padding-left: 3rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2); 
}

.signup-form-background {
  z-index: 10;
  width: 35rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 30rem;
  margin-top: 5rem;
  padding-left: 3rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5); 
}

.login-forms, .signup-forms {
  /* border: 2px solid red; */
  width: 30rem;
  margin-top: 1rem;
}

.login-signup-section {
  margin: 0 auto;
  text-align: center;
  /* border: 2px solid blue; */
}




/* Sign up */
.sign-up-container {
  position: relative;  /* use relative instead of fixed */
  width: 100vw; 
  height: 100vh;
  overflow: hidden; /* Ensures the content is not going outside the container */
}

.sign-up-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -4; /* this ensures that the image stays behind the text content */

  /* Add your image */
  background: url('../components/assets/images/signup.jpg') no-repeat center center; 
  /* Centering the image */
  
  /* Cover the entire div */
  background-size: cover;
}























/* Profile */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-h2 {
  margin-top: 3rem;
  color: var(--light-teak);
  border-bottom: 2px solid var(--light-teak);
}

.profile-links, .individual-book-button, .shopping-cart-clear-cart {
  display: inline-block;
  padding: 1rem 1rem;
  text-decoration: none;
  background-color: var(--white-ash);  
  color: var(--gingerbread);             
  border-radius: 10px;
  text-align: center;
  margin: 1rem;
  font-weight: bold;
  border: 2px solid var(--gingerbread);
}

.profile-links:hover, .individual-book-button:hover, .shopping-cart-remove-button:hover, .shopping-cart-clear-cart:hover {
  cursor: pointer;
  /* text-decoration: underline; */
  color: var(--light-teak); 
  transform: scale(1.2);
}







/* Profile / Account */

.account-container {
  display: flex;
}



.form-container {
  padding: 3rem 8.5rem;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* border: 2px solid green; */
  height: 45rem;
  width: 70%;
}

.account-h2  {
  /* padding-top: 3rem; */
  color: var(--light-teak);
  border-bottom: 2px solid var(--light-teak);
  display: inline;
}

.account-form-label {
  color: var(--light-teak);
  font-weight: bold;
  padding-top: 1rem;
  /* border: 2px solid green; */
}

.account-password-button {
  width: 10rem;
  margin: 0rem 0rem;
  background-color: white;  
  border: 2px solid var(--light-teak);
  border-radius: 5px;
  color: var(--light-teak);
}

.account-email-button {
  width: 15rem;
  margin: 1rem 0rem;
  background-color: white;  
  border: 2px solid var(--light-teak);
  border-radius: 5px;
  color: var(--light-teak);
  /* border: 2px solid red; */
  margin-top: -2rem;

}

.profile-image-container {
  /* border: 2px solid blue; */
  width: 30%;
  /* padding: 1rem 2rem; */
  margin-right: 7rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.profile-image-label {
  color: var(--light-teak);
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 2px solid var(--light-teak);
  padding-top: 0rem;
  margin-bottom: 1rem;
}


.profile-img {
  width: 20rem;
  height: 20rem;
  border: 2px solid black;
  border-radius: 200px;
  object-fit: cover;
}

.profile-image-h2 {
  color: var(--light-teak);
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 2px solid var(--light-teak);
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.update-profile-button {
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0rem;
  background-color: white;  
  border: 2px solid var(--light-teak);
  border-radius: 5px;
  color: var(--light-teak);
  margin-bottom: 10rem;
  /* border: 2px solid red; */
}

.update-profile-button-container {
  display: flex;  
  flex-direction: end;
  text-align: right;
}

.file-input {
  color: var(--light-teak);

}

.file-input-label {
  color: var(--light-teak);
  font-weight: bold;
}




/* Account / Orders */
.orders-page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
}

.orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
  /* border: 2px solid blue; */
}

.individual-order-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 2px solid red; */
  align-self: flex-start;
  /* margin-top: 1rem; */
  margin-bottom: 2.5rem;
}


.individual-order {
  border: 2px solid var(--grey-wood);
  width: 30rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.individual-order h2, 
.individual-order h3 {
  color: var(--light-teak)
}

/* .individual-order h3 {
  border-top: 1px solid var(--grey-wood);
} */

.individual-order h3::before {
  content: "";
  display: block;
  height: 1px;
  width: 50%;  /* Set width to desired percentage */
  background-color: var(--grey-wood);
  margin-bottom: 10px; /* Adjust as needed */
  margin: 0 auto;
}

/* .individual-order h2, 
.individual-order p, 
.individual-order h3 {
  color: green;
} */

.orders-h2 {
    padding-top: 3rem;
    margin-bottom: 2rem;
    color: var(--light-teak);
    border-bottom: 2px solid var(--light-teak);
    display: inline;
}

.order-number-h2 {
  border-bottom: 2px solid var(--light-teak);
  display: inline-flex;
  margin-bottom: 1rem;
}
.order-number-p, .order-date {
  color: var(--grey-wood);
  font-weight: bold;
}

.order-date {
  margin-top: -1rem;
}

.order-date-title {
  color: var(--light-teak);
  font-weight: bold;
}

.orders-individual-orders {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  margin-bottom: 1rem;
  border: 2px solid var(--light-teak);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.orders-button-link {
  display: inline-block;
  border: 2px solid var(--gingerbread);
  background-color: #f2f2f2;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.orders-button-link:hover {
  background-color: #e6e6e6;
}

.order-image {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.3);
}

.orders-orderId-p {
  margin: 0; 
  padding: 0.5rem; 
  color: black;
}

.orders-orderDate-p{
  color: #666; 
}

.quantity-p, .price-p {
  color: var(--grey-wood);
}

.order-total {
  color: var(--grey-wood);
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid var(--grey-wood);
  display: inline-flex;
}



/* Hero section */

.hero-introduction-text {
  margin-left: 5rem;
}








/* Individual book */

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.book-results-for-h2, .book-category-h2 {
  margin: 6rem 0rem 2rem 0rem;
  color: var(--gingerbread)
}

.search-term-results {
  color: var(--grey-wood)
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  text-decoration: none;
  color: inherit;
}

.book-card-content {
  border-radius: 5px;
  padding: 1.5rem 0rem;
  margin: 1rem;
  width: 12.5rem;
  min-height: 22.5rem; 
  max-height: 22.5rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-teak);
  box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
  border: 2px solid white;
  transition: all 0.3s ease-out;
}

.book-card-content:hover {
  box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.1);
  transform: scale(1.05);
}

.book-card-image {
  min-height: 10rem;
  max-height: 10rem;
  min-width: 7rem;
  max-width: 11rem;
  margin-bottom: 15px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 18px 32px 0 rgba(0,0,0,0.19);
}

.book-card-title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
  text-decoration: underline;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  width: 90%; 
  max-width: 90%;
}

.book-card-author {
  font-size: 1rem;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%; 
  max-width: 90%; 
  color: var(--dark-wood);
}











/* Book Details Page */

.book-details-page-container {
  /* margin-left: 5rem; */
  border: 2px solid blue;
  width: 100%;
  height: 100%;
  min-height: 40rem;
  margin-top: 3em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.book-details-text-section {
  width: 50%;
  height: 100%;
  border: 2px solid green;
  padding: 3rem 0rem;;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.book-details-page-h2 {
  color: var(--dark-wood)
}

.book-details-title {
  color: var(--grey-wood);
  font-weight: bold;
}

.individual-book-data-response {
  color: var(--gingerbread);
  font-weight:400
}

.individual-book-add-to-cart {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 1rem 1rem;
  text-decoration: none;
  background-color: white;;  
  color: var(--gingerbread);             
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  border: 2px solid var(--gingerbread);
}
.book-details-image-section {
  border: 2px solid purple;
  margin-left: 4rem;
}

.book-details-image {
  width: 15rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.3);

}

.book-details-price {
  /* padding-bottom: 10rem; */
}




/* Featured Section */

.featured-novels-container {
  height: 40rem;
  background-color: var(--white-ash);
  /* border: 2px solid green; */
}

.featured-novels-image {
  min-width: 10rem;
  max-width: 10rem;
  min-height: 15rem;
  max-height: 15rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.3);
}

.featured-novels-card a {
  text-decoration: none;
}

.featured-novels-container {
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.todays-featured-novels-h2 {
  margin-bottom: 2rem;
  color: var(--gingerbread)
}

.featured-novels-book-title {
  font-size: 1.25rem;
  color: var(--dark-wood);
  border-bottom: 2px solid var(--dark-wood)
}

.featured-novels-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.featured-novels-card {
  width: 18rem;
  min-height: 24rem;
  max-height: 24rem;
  background-color: var(--light-teak);
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2), 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.featured-novels-card:hover {
  transform: scale(1.05)
}

.featured-novels-author {
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-size:1rem;
}

.carousel-control-prev, 
.carousel-control-next {
  position: absolute;
  width: auto;  /* Reset width */
  height: auto;  /* Reset height */
  padding: 0;
  bottom: 0;  /* Position at the bottom */
  transform: translateY(-50%); /* Center vertically */
  
}

.carousel-control-prev {
  left: 30rem;
  top: 27.5rem;

}

.carousel-control-next {
  right: 30rem;
  top: 27.5rem;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 2rem;  /* Adjust as needed */
  height: 2rem;  /* Adjust as needed */
  position: relative;
  /* top: 28rem; */
  background-size: 100%, 100%;  /* Adjust as needed */
  /* border: 2px solid red; */
  filter: invert(1) brightness(0.5) saturate(0); 
  /* background-color: var(--dark-wood); */
}










/* Categories pages */

.categories-page-container {
  background-color: var(--grey-wood);
  padding-bottom: 3rem;
}

.browse-by-categories {
  padding: 3rem 0rem;
  text-align: center;
}


.category-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

 .category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
  border: 1px solid #ccc;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2), 0px 1px 20px 0px rgba(0,0,0,0.3);
} 


.category-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.category-box:hover {
  transform: scale(1.05);
}

.category-box-mystery:before {
  background-image: url('../components/assets/images/Mystery.jpg');
}

.category-box-drama:before {
  background-image: url('../components/assets/images/Drama.jpg');
}

.category-box-comedy:before {
  background-image: url('../components/assets/images/Comedy.jpg');
}

.category-box-romance:before {
  background-image: url('../components/assets/images/Romance.jpg');
}

.category-box-title {
  position: relative;
  color: white;
  bottom: 6rem;
  /* border: 2px solid green; */
}

.category-box-desc {
  color: white;

  opacity: .8;
  z-index: 1;
  text-align: center;
}



.slide-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  transform: translateY(100%); /* Initially, push it down */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Transition effect */
}

.category-box:hover .slide-background {
  transform: translateY(0); 
  opacity: .7;
}

.slide-box-desc {
  text-align: center;
  color: white;
  padding: 0rem 1rem;
}



















/* Categories */

.book-container-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: row; */
}

.books-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.book-card-categories {
  text-decoration: none;
  color: inherit;
}

.card-categories {
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  width: 200px;
  height: auto;
  min-height: 350px; 
  max-height: 350px; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
  border: 2px solid white;
  transition: all 0.3s ease-out;
}

.card-categories:hover {
  box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.1);
}

.book-cover-categories {
  min-height: 10rem;
  max-height: 10rem;
  min-width: 7rem;
  max-width: 11rem;
  margin-bottom: 15px;
}

.book-title-categories {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
}

.book-author-categories {
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%; 
  max-width: 90%; 
  color: white;
}





/* Footer Section */
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--grey-wood);
  color: white;
  padding-bottom: 4rem;
  /* border: 2px solid green; */
  padding: 2rem 4rem;
}

.footer-p {
  font-size: .9rem;
  margin-top: 1rem;
}

.footer-about-us {
  font-weight: bold;
  font-size:1.5rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer-column-about-us {
  text-align: center;
  padding-top: 2rem;

}

.footer-column a {
  color: white;
  text-decoration: none;
}

.credit-card-columns {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

.footer-column-credit-cards {
  /* border: 2px solid red; */
}
.secured-payments {
  text-align: center;
}

.footer-credit-card {
  padding: 1rem 1rem;
}








/* Shopping Cart */

.shopping-cart-container {
  margin-left: 3rem;
  /* border: 2px solid green; */
}

.shopping-cart-only-book-container {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid blue;
  flex-wrap: wrap;
  /* position: relative; */
}

.shopping-cart-header-author-container {
  height: 10rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
}

.shopping-cart-book-title-h4 {
  color: var(--grey-wood);
  text-align: center;
  text-decoration: underline;
}

.author-name {
  color: var(--gingerbread)
}

.shopping-cart-book {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 2px solid white;
  width: 20rem;
  max-width: 15rem;
  height: 30rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin:1rem 1rem;
  /* padding: 1rem 1rem; */
  position: relative;
}

.shopping-cart-book img {
  width: 8rem;
  /* padding-top: -2rem; */
}

.shopping-cart-rendered-price {
  color: var(--grey-wood)
}

.shopping-cart-price {
  color: var(--dark-wood)
}

.shopping-cart-remove-button {
  display: inline-block;
  padding: 1rem 1rem;
  text-decoration: none;
  background-color: var(--white-ash);  
  color: var(--gingerbread);             
  border-radius: 10px;
  text-align: center;
  /* margin-top: 4rem; */
  font-weight: bold;
  border: 2px solid var(--gingerbread);
  bottom: 1rem;
  position:absolute;
}



.shopping-cart-totals-container {
  /* border: 2px solid blue; */
  text-align: center;
  padding-bottom: 5rem;
}

.shopping-cart-totals-container p {
  color: var(--dark-wood)
}
.shopping-cart-math-container {
  text-align: left;
  padding-left:2rem;
  /* border: 1px solid red; */
  width: 15rem;
  margin: 0 auto;
}








/* Checkout  */

.checkout-container {
  border: 2px solid green;
  padding: 5rem 3rem;
}

.checkout-h2 {
  text-align: center;
  color: var(--grey-wood)
}

.checkout-container h4 {
  color: var(--grey-wood);
  text-align: center;
}


.checkout-warning {
  color: red;
  text-align: center;
}

.credit-card-container {
  border: 2px solid red;
  /* padding: 0rem 3rem; */
}

.checkout-form-field {
  border: 2px solid blue;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  /* flex-direction: column; */
}

.form-field {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 2px solid #1c88a2;
  border-radius: 10px;
  width: 50rem;
  background-color: #ffffff;
  padding: 2rem;
  /* margin: 0 auto; */
  /* height: 5rem; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 1rem;
}

.form-field label {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #1c88a2;
}

.form-field input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: var(--grey-wood)
}

.form-field button {
  align-self: center;
  background-color: #1c88a2;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-field button:hover {
  background-color: #145c6b;
}


.checkout-total-section {
  border: 1px solid white;
  width: 22.5rem;
  margin: 0 auto;
  text-align: center;
  height: 15rem;
  position: fixed;
  right: 3rem;
  z-index: 100;
  background-color: var(--white-ash);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.standard {
  color: var(--gingerbread)
}

.generated {
  color: var(--light-teak)
}





.checkout-book-total-container {
  display: flex;
  border: 2px solid green;
  position: relative;
}

.checkout-individual-book-section {
  border: 2px solid blue;
  /* margin-left: 4rem; */
  /* width: 40rem; */
  width: 75%;
  /* max-width: 53rem; */
  display: inline-flex;
  margin-bottom: 5rem;
  flex-wrap: wrap;
  padding: 0rem 2rem;
  /* z-index: -10; */
}

.checkout-individual-book {
  border-radius: 5px;
  padding: 1.5rem 1rem;
  margin: 1rem;
  width: 15rem;
  min-height: 25rem; 
  max-height: 25rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-teak);
  box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
  border: 2px solid white;
  transition: all 0.3s ease-out;
}


.checkout-individual-book h4 {
  text-decoration: underline;
}

.checkout-individual-book h5 {
  color: var(--grey-wood);
}

.checkout-individual-book img {
  width: 8.5rem;
}


/* Thank you */

