
/* === typography ====== */ 

h1, h2, h3, h4, h5, h6, p, li, td, th, blockquote, label, textarea, select, span {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p, li, td, th, blockquote, label, input, textarea, select {
  font-size: 1.2rem;
  line-height: 165%;
}

p {
  margin-bottom: 1rem;
}

body {
  height: 100vh;
  background-color: var(--white-ash);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif; 
}

element.style {
  padding-top: 0rem !important;
}

:root {
  --white-ash: #F1EDE2;
  --light-teak: #D1AA7C;
  --gingerbread: #A8734F;
  --dark-wood: #6F4E3C;
  --grey-wood: #7F7F7F;
}

.pt-3, .px-4 {
  margin: 0 !important;
  padding: 0 !important;
}




/* Header Section */
.header-search-bar:focus,
.header-search-bar:active,
.header-search-bar:visited
.nav-link:hover {
  color: black;
}

.nav-link {
  position: relative;
  color: black;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%; 
  height: 2px;
  background: black; 
  transition: right 0.3s ease-in; 
}

.nav-link:hover::after {
  right: 0; 
}

.header-search-button {
  display: inline-block;
  padding: .25rem .5rem;
  text-decoration: none;
  background-color: var(--white-ash);  
  color: black;
  border-radius: 3px;
  text-align: center;
  height: 2.5rem;
  margin-left:.25rem;
  border: 2px solid var(--gingerbread);
}

.header-search-button:hover {
  transform: scale(1);
  color: var(--white-ash);
  background-color: var(--gingerbread);
  border: 2px solid var(--white-ash);
}

.nav-link:focus,
.nav-link:active {
  color: black;
}

.header-links:focus,
.header-links:active {
  color: black;
}

.nav-link:visited, .header-links:visited {
  color: black;
}



@media (max-width: 810px) {
  .header-links {
    font-size:.82rem;
    position: relative;
    top:.1rem;
  }
}

@media (max-width: 767.5px) {
  .profile-pic {
    display: none;
  }
  .nav-link {
    font-size: 2rem;
  }
  .navbar-collapse {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}






/* Login section */
.full-page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
}

.full-page-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url('../components/assets/images/login.jpg') no-repeat left; 
  background-size: cover;
  transform: scaleX(-1);
}

.login-form-container, .sign-up-form {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100rem;
}

.welcome-to-nile, .sign-up-page-title {
  color: black;
  font-size: 2.5rem;
  margin: 0 auto;
  border-bottom: 2px solid var(--white-ash);
}

.sign-up-page-title {
  border-bottom: 2px solid black;

}

.login-h3 {
  color: var(--dark-wood);
  border-bottom: 2px solid var(--dark-wood);
}

.label-title  {
  color: black;
  margin-top: 1rem;

}


.form-background, .sign-up-form-background {
  /* z-index: 10; */
  width: 35rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 30rem;
  margin-top: 5rem;
  padding-left: 3rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2); 
}

.login-forms, .sign-up-forms {
  /* border: 2px solid red; */
  width: 20rem;
}

.login-sign-up-section {
  margin: 0 auto;
  text-align: center;
  /* border: 2px solid blue; */
}





/* Sign up */
.sign-up-container {
  position: relative;
  width: 100vw; 
  height: 100vh;
  overflow: hidden; 
  /* border: 2px solid green; */
}

.sign-up-form-background {
  z-index: 10;
  width: 35rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 30rem;
  margin-top: 5rem;
  padding-left: 3rem;
  border-radius: 2px;
  /* border: 2px solid red; */
  background-color: rgba(255, 255, 255, 0.25); 
}

.sign-up-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -4;
  background: url('../components/assets/images/background-sign-up.jpg') no-repeat center center; 
  background-size: cover;
}

.sign-up-buttons {
  display: inline-block;
  padding: .5rem .5rem;
  text-decoration: none;
  background-color: var(--white-ash);  
  /* color: var(--gingerbread);              */
  color: black;
  border-radius: 5px;
  text-align: center;
  border: 2px solid var(--gingerbread);
}

.sign-up-buttons:hover {
  color: var(--white-ash);
  background-color: var(--gingerbread);
}

.sign-up-label-title {
  color: black;
  font-weight: bold;
  margin-top: 1rem;
}

  .sign-up-forms input {
    width: 90%;
    /* border: 2px solid blue; */
    margin: 0rem 0rem;
  }



@media (max-width: 900px) {
  .login-form-container, .sign-up-container, .sign-up-form {
    padding-left: 0rem;
  }
  .form-background, .sign-up-form-background {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .form-background, .sign-up-form-background {
    width: 30rem;
    /* border: 2px solid green; */
  }

  .login-forms input {
    width: 80%;
    /* border: 2px solid blue; */
    margin: 0rem 0rem;
  }

  .sign-up-forms input {
    width: 80%;
    /* border: 2px solid blue; */
    margin: 0rem 0rem;
  }
}

@media (max-width: 500px) {
  .form-background, .sign-up-form-background {
    width: 20rem;
    /* border: 2px solid red; */
    padding-left: 1rem;
  }

  .login-forms input,
  .sign-up-forms input
   {
    width: 50%;
    /* border: 2px solid blue; */
    margin: 0rem 0rem;
  }

  .welcome-to-nile {
    text-align: center;
  }
}

.sign-up-duplicate-message,
.sign-up-name-error-message {
  font-weight: bold;
  color: black;
  font-size: 1rem;
  position: relative;
  top: .8rem;
}



/* Profile */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-h2 {
  margin-top: 6rem;
  color: var(--gingerbread);
  border-bottom: 2px solid var(--light-teak);
}

/* Standard #button */
.profile-links, .individual-book-button, 
.shopping-cart-clear-cart, .back-to-home, 
.send-me-receipt-button
{
  display: inline-block;
  padding: 1rem 1rem;
  text-decoration: none;
  background-color: var(--white-ash);  
  /* color: var(--gingerbread);              */
  color: black;
  border-radius: 3px;
  text-align: center;
  margin: 1rem;
  font-weight: bold;
  border: 2px solid var(--gingerbread);
}

.profile-links:hover, .individual-book-button:hover, .shopping-cart-remove-button:hover, .shopping-cart-clear-cart:hover,
.send-me-receipt-button:hover,
.add-to-cart-button:hover
{
  cursor: pointer;
  color: var(--light-teak); 
  transform: scale(1.05);
}





/* Profile / Account */
.account-container {
  display: flex;
  margin-top:3rem;
}

.form-container {
  padding: 3rem 8.5rem;
  /* border: 2px solid green; */
  height: 45rem;
  width: 70%;
}

.account-h2  {
  /* padding-top: 3rem; */
  color: var(--light-teak);
  border-bottom: 2px solid var(--light-teak);
  display: inline;
}

.account-form-label {
  color: var(--light-teak);
  font-weight: bold;
  padding-top: 1rem;
  /* border: 2px solid green; */
}

.account-form input {
  width: 20rem;
}

.account-password-button {
  width: 10rem;
  margin: 0rem 0rem;
  background-color: white;  
  border: 2px solid var(--light-teak);
  border-radius: 5px;
  color: var(--light-teak);
}

.account-email-button {
  width: 15rem;
  margin: 1rem 0rem;
  background-color: white;  
  border: 2px solid var(--light-teak);
  border-radius: 5px;
  color: var(--light-teak);
  /* border: 2px solid red; */
  margin-top: -2rem;
}

.profile-image-container {
  /* border: 2px solid blue; */
  width: 30%;
  margin-right: 7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.remove-image-button {
  width: 15rem;
  margin: 1rem 0rem;
  background-color: white;  
  border: 2px solid var(--light-teak);
  border-radius: 5px;
  color: var(--light-teak);
  /* border: 2px solid red; */
  /* margin-top: -2rem; */
}

@media (max-width: 780px) {
  .account-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-container {
    margin-left: 0rem;
    padding: 0rem 0rem !important;
    width: auto;
    /* border: 2px solid green; */
    color: blue;
  }
}

@media (max-width: 470px) {
  .form-container input {
    width: 15rem !important;
  }
}

.profile-image-label {
  color: var(--light-teak);
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 2px solid var(--light-teak);
  padding-top: 0rem;
  margin-bottom: 1rem;
}


.profile-img {
  width: 20rem;
  height: 20rem;
  border: 2px solid black;
  border-radius: 12.5rem;
  object-fit: cover;
}

.profile-image-h2 {
  color: var(--light-teak);
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 2px solid var(--light-teak);
  padding-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.update-profile-button {
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0rem;
  background-color: white;  
  border: 2px solid var(--light-teak);
  border-radius: 5px;
  color: var(--light-teak);
  margin-bottom: 10rem;
  /* border: 2px solid red; */
}

.update-profile-button-container {
  display: flex;  
  flex-direction: end;
  text-align: right;
}

.file-input {
  color: var(--light-teak);

}

.file-input-label {
  color: var(--light-teak);
  font-weight: bold;
}

@media (max-width: 520px ) {
  .update-profile-button-container {
    width: 10rem;
    /* border:2px solid green; */
  }
  .update-profile-button {
    /* border: 2px solid blue; */
    width: 100%;
    font-size: 1rem;
  }
}

@media (max-width: 780px) {
  .profile-image-container {
    margin: 0 auto;
    width: 25rem;
  }
}





/* Account / Orders */
.orders-page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
}

.orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
  /* border: 2px solid blue; */
}

.individual-order-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 2px solid red; */
  align-self: flex-start;
  margin-bottom: 2.5rem;
}


.individual-order {
  border: 2px solid var(--grey-wood);
  width: 30rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.individual-order h2, 
.individual-order h3 {
  color: var(--light-teak)
}

.individual-order h3::before {
  content: "";
  display: block;
  height: 1px;
  width: 50%;  
  background-color: var(--grey-wood);
  margin-bottom:  0.625rem; 
  margin: 0 auto;
}

.orders-h2 {
    padding-top: 3rem;
    margin-bottom: 2rem;
    color: var(--light-teak);
    border-bottom: 2px solid var(--light-teak);
    display: inline;
}

.order-number-h2 {
  border-bottom: 2px solid var(--light-teak);
  display: inline-flex;
  margin-bottom: 1rem;
}
.order-number-p, .order-date {
  color: var(--grey-wood);
  font-weight: bold;
}

.order-date {
  margin-top: -1rem;
}

.order-date-title {
  color: var(--light-teak);
  font-weight: bold;
}

.orders-individual-orders {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  margin-bottom: 1rem;
  border: 2px solid var(--light-teak);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@media (max-width: 500px) {
  .orders-container {
    margin: 0rem 0rem;
  }
  .orders-individual-orders {
    width: 90%;
  }
  .orders-individual-orders p {
    padding: 0rem .5rem;
    font-size:.8rem;
  }
  .individual-order {
    width: 100%;
  }
}

.orders-button-link {
  display: inline-block;
  border: 2px solid var(--gingerbread);
  background-color: #f2f2f2;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

.orders-button-link:hover {
  background-color: #e6e6e6;
}

.order-image {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.3);
}

.orders-orderId-p {
  margin: 0; 
  padding: 0.5rem; 
  color: black;
}

.orders-orderDate-p{
  color: #666; 
}

.quantity-p, .price-p {
  color: var(--grey-wood);
}

.order-total {
  color: var(--grey-wood);
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid var(--grey-wood);
  display: inline-flex;
}




/* Hero section */
.hero-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* border: 3px solid red; */
    margin: 0 !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../components/assets/images/HeroPage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-introduction-text {
  margin: 0rem 5rem;
}




/* Individual book */
.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.book-results-for-h2, .book-category-h2 {
  margin: 6rem 0rem 2rem 0rem;
  color: var(--gingerbread)
}

.search-term-results {
  color: var(--grey-wood)
}

.missing-book-message {
  color:var(--gingerbread);
  margin-top: 10rem;
  text-align: center;
  font-weight: bold;
  font-size:2rem;
}

.missing-book-message-2 {
  color:var(--gingerbread);
  text-align: center;
  font-weight: bold;
  font-size:2rem;
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  text-decoration: none;
  color: inherit;
}

.book-card-content {
  border-radius: 5px;
  padding: 1.5rem 0rem;
  margin: 1rem;
  width: 12.5rem;
  min-height: 22.5rem; 
  max-height: 22.5rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-teak);
  box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
  border: 2px solid white;
  transition: all 0.3s ease-out;
}

.book-card-content:hover {
  box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.1);
  transform: scale(1.05);
}

.book-card-image {
  min-height: 10rem;
  max-height: 10rem;
  min-width: 7rem;
  max-width: 11rem;
  margin-bottom: 1rem;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 18px 32px 0 rgba(0,0,0,0.19);
}

.book-card-title {
  margin: 0;
  margin-bottom: 0.625rem;
  text-align: center;
  font-size: 1.2em;
  text-decoration: underline;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  width: 90%; 
  max-width: 90%;
}

.book-card-author {
  font-size: 1rem;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%; 
  max-width: 90%; 
  color: var(--dark-wood);
}





/* Book Details Page */
.book-details-page-container {
  /* border: 2px solid blue; */
  width: 100%;
  height: 100%;
  min-height: 40rem;
  margin-top: 3em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-details-text-section {
  width: 50%;
  height: 100%;
  /* border: 2px solid green; */
  padding: 3rem 0rem;;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.book-details-page-h2 {
  color: var(--dark-wood)
}

.book-details-title {
  color: var(--grey-wood);
  font-weight: bold;
}

.individual-book-data-response {
  color: var(--gingerbread);
  font-weight:400
}

.add-to-cart-button {
  display: inline-block;
  text-decoration: none;
  background-color: white;;  
  padding: 1rem 1rem;
  color: var(--gingerbread);             
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  border: 2px solid var(--gingerbread);
}

.individual-book-add-to-cart {
  /* border: 2px solid green; */
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.individual-book-state-message {
  color: var(--grey-wood);
  
}

.book-details-image-section {
  /* border: 2px solid purple; */
  margin-left: 4rem;
}



.book-details-image {
  width: 15rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.3);
}

@media (max-width: 700px) {
  .book-details-page-container {
    flex-direction: column-reverse;
  }
  .book-details-image-section {
    /* border: 2px solid purple; */
    margin-left: 0rem;
    padding-top: 1rem;

  }
  .book-details-image {
    width: 10rem;
  }
  .individual-book-add-to-cart {
    position:static;
    margin: 0 auto;
  }
}





/* Featured Section */
.featured-novels-container {
  height: 40rem;
  background-color: var(--white-ash);
  /* border: 2px solid green; */
}

.featured-novels-image {
  min-width: 10rem;
  max-width: 10rem;
  min-height: 15rem;
  max-height: 15rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.3);
}

.featured-novels-card a {
  text-decoration: none;
}

.featured-novels-container {
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.todays-featured-novels-h2 {
  margin-bottom: 2rem;
  color: var(--gingerbread)
}

.featured-novels-book-title {
  font-size: 1.25rem;
  color: var(--dark-wood);
  border-bottom: 2px solid var(--dark-wood)
}

.featured-novels-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.featured-novels-card {
  width: 18rem;
  min-height: 24rem;
  max-height: 24rem;
  background-color: var(--light-teak);
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2), 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.featured-novels-card:hover {
  transform: scale(1.05)
}

.featured-novels-author {
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-size:1rem;
}

.carousel-control-prev, 
.carousel-control-next {
  position: absolute;
  width: auto; 
  height: auto; 
  padding: 0;
  bottom: 0; 
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 10%;
  top: 95%;
}

.carousel-control-next {
  right: 10%; 
  top: 95%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 2rem; 
  height: 2rem; 
  position: relative;
  background-size: 100%, 100%;  
  filter: invert(1) brightness(0.5) saturate(0); 
}





/* Categories pages */
.categories-page-container {
  background-color: var(--grey-wood);
  padding-bottom: 3rem;
  border: 1px solid green
}

.browse-by-categories {
  padding: 3rem 0rem;
  text-align: center;
  /* border:2px solid red; */
}


.category-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* border: 2px solid blue */
}

@media (max-width: 700px) {
  .category-container {
    grid-template-columns: 1fr;
  }
}

.category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
  border: 1px solid #ccc;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2), 0px 1px 20px 0px rgba(0,0,0,0.3);
} 

.category-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.category-box:hover {
  transform: scale(1.05);
}

.category-box-mystery:before {
  background-image: url('../components/assets/images/Mystery.jpg');
}

.category-box-drama:before {
  background-image: url('../components/assets/images/Drama.jpg');
}

.category-box-comedy:before {
  background-image: url('../components/assets/images/Comedy.jpg');
}

.category-box-romance:before {
  background-image: url('../components/assets/images/Romance.jpg');
}

.category-box-title {
  position: relative;
  color: white;
  bottom: 6rem;
  /* border: 2px solid green; */
}

.category-box-desc {
  color: white;

  opacity: .8;
  z-index: 1;
  text-align: center;
}

.slide-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  transform: translateY(100%); 
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.category-box:hover .slide-background {
  transform: translateY(0); 
  opacity: .7;
}

.slide-box-desc {
  text-align: center;
  color: white;
  padding: 0rem 1rem;
}





/* Categories */
.book-container-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.books-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.book-card-categories {
  text-decoration: none;
  color: inherit;
}

.card-categories {
  border-radius: 5px;
  padding: 1rem;
  margin: 0.625rem;
  width: 12.5rem;
  height: auto;
  min-height: 21.875rem; 
  max-height: 21.875rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
  border: 2px solid white;
  transition: all 0.3s ease-out;
}

.card-categories:hover {
  box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.1);
}

.book-cover-categories {
  min-height: 10rem;
  max-height: 10rem;
  min-width: 7rem;
  max-width: 11rem;
  margin-bottom: 1rem;
}

.book-title-categories {
  margin: 0;
  margin-bottom: 0.625rem;
  text-align: center;
  font-size: 1.2em;
}

.book-author-categories {
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%; 
  max-width: 90%; 
  color: white;
}





/* Footer Section */
.footer-container {
  display: flex;
  justify-content: space-evenly;
  /* justify-content: center; */
  padding: 1rem;
  background-color: var(--grey-wood);
  color: white;
  padding-bottom: 4rem;
  /* border: 2px solid green; */
  padding: 2rem 4rem;
}

.footer-p {
  font-size: .9rem;
  margin-top: 1rem;
}

.footer-about-us {
  font-weight: bold;
  font-size:1.5rem;
}

.footer-column-about-us {
  /* text-align: center; */
  /* padding-top: 2rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem; 
}

.footer-column a {
  color: white;
  text-decoration: none;
}

.credit-card-columns {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

.secured-payments {
  text-align: center;
}

.footer-credit-card {
  padding: 1rem 1rem;
}

.footer-p {
      /* font-weight: bold; */
    font-size:1.25rem;
}

@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-column {
    margin: 0 auto;
  }
  .footer-column a {
    margin: 0 auto;
  }
  .footer-column-credit-cards {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    /* border: 2px solid green; */
  }
}




/* Shopping Cart */
.shopping-cart-container {
  margin-left: 3rem;
  /* border: 2px solid green; */
}

.shopping-cart-only-book-container {
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid blue; */
  flex-wrap: wrap;
}

.shopping-cart-header-author-container {
  height: 10rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
}

.shopping-cart-book-title-h4 {
  color: var(--grey-wood);
  text-align: center;
  text-decoration: underline;
}

.author-name {
  color: var(--gingerbread)
}

.shopping-cart-book {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 2px solid white;
  width: 20rem;
  max-width: 15rem;
  height: 30rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin:1rem 1rem;
  position: relative;
}

.shopping-cart-book img {
  width: 8rem;
}

.shopping-cart-rendered-price {
  color: var(--grey-wood)
}

.shopping-cart-price {
  color: var(--dark-wood)
}

.shopping-cart-remove-button {
  display: inline-block;
  padding: 1rem 1rem;
  text-decoration: none;
  background-color: var(--white-ash);  
  color: var(--gingerbread);             
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  border: 2px solid var(--gingerbread);
  bottom: 1rem;
  position:absolute;
}

.shopping-cart-totals-container {
  /* border: 2px solid blue; */
  text-align: center;
  padding-bottom: 5rem;
}

.shopping-cart-totals-container p {
  color: var(--dark-wood);
  font-weight: bold;
}

.shopping-cart-math-container {
  text-align: left;
  padding-left:2rem;
  /* border: 1px solid red; */
  width: 15rem;
  margin: 0 auto;
}

.shopping-cart-math-container p {
  font-weight: bold;
}

.shopping-cart-total {
  border-bottom: 2px solid var(--grey-wood);
}

/* Empty Shopping Cart */
.shopping-cart-empty-message {
  text-align: center;
  color: var(--gingerbread);
  padding-top: 5rem;
}





/* Checkout  */
.checkout-container {
  /* border: 2px solid green; */
  padding: 5rem 3rem;
}

.checkout-h2 {
  text-align: center;
  color: var(--grey-wood)
}

.checkout-container h4 {
  color: var(--grey-wood);
  text-align: center;
}


.checkout-warning {
  color: red;
  text-align: center;
}

.checkout-form-field {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.form-field {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 2px solid var(--dark-wood);
  border-radius: 1rem;
  width: 50rem;
  background-color: var(--white-ash);
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 1rem;
}

.form-field label {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--dark-wood);
}

.form-field input {
  width: 100%;
  padding: .5rem;
  border: 1px solid var(--gingerbread);
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: var(--dark-wood);
  background-color: var(--white-ash);
}

.form-field button {
  align-self: center;
  background-color: var(--dark-wood);
  color: var(--white-ash);
  padding: 0.5rem 1rem;
  border: none;
  margin-left: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-field button:hover {
  background-color: var(--light-teak);
}

@media (max-width: 840px) {
  .form-field {
    flex-direction: column;
    width:30rem;
  }

  .form-field input {
    width: 22.5rem;
    margin: 0rem 0rem;
  }

  .checkout-warning {
    width: 20rem;
  }
}


.checkout-total-section {
  /* border: 2px solid green; */
  width: 22.5rem;
  margin: 1rem auto;
  text-align: center;
  height: 15rem;
  padding-top: 1rem;
  z-index: 100;
  background-color: var(--white-ash);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.standard {
  color: var(--gingerbread)
}

.generated {
  color: var(--grey-wood);
  font-weight: bold;
}

.card-element-wrapper {
  width: 30rem;
  /* border: 2px solid green; */
}
@media (max-width: 840px) {
  .card-element-wrapper {
    width: 25rem;
  }
}

@media (max-width: 490px) {
  .form-field {
    width: 100%;
    margin: 0rem 0rem;
  }
  .form-field input {
    width: 230%;
  }

  .checkout-warning {
    width: 230%;
  }

  .card-element-wrapper {
    width: 100%;
  }

  .checkout-total-section {
    width: 100%;
  }

  .checkout-book-total-container  {
    width:  100%;
    border: 2px solid green;
  }

  .checkout-individual-book {
    width: 100% !important;
    margin: 0rem 0rem !important;
    /* border: 2px solid blue; */
  }
}

.checkout-book-total-container {
  display: flex;
  /* border: 2px solid green; */
}

.checkout-individual-book-section {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0rem 2rem;
}

.checkout-individual-book {
  border-radius: 5px;
  padding: 1.5rem 1rem;
  margin: 1rem;
  width: 15rem;
  min-height: 30rem; 
  max-height: 30rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-teak);
  box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1);
  border: 2px solid white;
  transition: all 0.3s ease-out;
}

.checkout-individual-book h4 {
  text-decoration: underline;
  color: var(--dark-wood)
}

.checkout-individual-book h5 {
  color: var(--white-ash);
}

.checkout-individual-book img {
  width: 8.5rem;
}





/* Thank you */
.thank-you-container {
  /* border: 2px solid red; */
  margin: 0 3rem;
  padding-top: 5rem;
  text-align: center;
}

.thank-you-container h2 {
  color: var(--grey-wood);
  border-bottom: 2px solid var(--grey-wood);
  display: inline-flex;
  margin-bottom: 2rem;
}

.thank-you-container h3 {
  color: var(--gingerbread)
}

.thank-you-container h3 span {
  color: black;
}

.send-me-receipt-desc {
  color: var(--gingerbread);
  width: 80%;
  margin: 0 auto;
}

/*  === Scroll Bar === */
/* scroll bar style  */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-ash);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-teak);
  border-radius: 50px;
}